MockDb/Service References/PushR/DataService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50717/Push/Service/DataService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PushR.Push" />
  <xs:element name="NotifyUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PushR.Push" minOccurs="0" name="data" nillable="true" type="q1:PushData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifyUpdateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="NewQuoteRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="date" type="xs:dateTime" />
        <xs:element minOccurs="0" name="amount" type="xs:decimal" />
        <xs:element minOccurs="0" name="originator" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="team" type="xs:int" />
        <xs:element minOccurs="0" name="data" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewQuoteRequestResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>