MockDb/Service References/PushR/DataService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PushR.Push" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PushR.Push" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="PushData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Content" nillable="true" type="xs:anyType" />
      <xs:element minOccurs="0" name="DataType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PushData" nillable="true" type="tns:PushData" />
</xs:schema>