MockDb/Service References/PushR/DataService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DataService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50717/Push/Service/DataService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50717/Push/Service/DataService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50717/Push/Service/DataService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PushR.Push" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDataService_NotifyUpdate_InputMessage">
    <wsdl:part name="parameters" element="tns:NotifyUpdate" />
  </wsdl:message>
  <wsdl:message name="IDataService_NotifyUpdate_OutputMessage">
    <wsdl:part name="parameters" element="tns:NotifyUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_NewQuoteRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:NewQuoteRequest" />
  </wsdl:message>
  <wsdl:message name="IDataService_NewQuoteRequest_OutputMessage">
    <wsdl:part name="parameters" element="tns:NewQuoteRequestResponse" />
  </wsdl:message>
  <wsdl:portType name="IDataService">
    <wsdl:operation name="NotifyUpdate">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/NotifyUpdate" message="tns:IDataService_NotifyUpdate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/NotifyUpdateResponse" message="tns:IDataService_NotifyUpdate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NewQuoteRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/NewQuoteRequest" message="tns:IDataService_NewQuoteRequest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/NewQuoteRequestResponse" message="tns:IDataService_NewQuoteRequest_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IDataService" type="tns:IDataService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="NotifyUpdate">
      <soap:operation soapAction="http://tempuri.org/IDataService/NotifyUpdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NewQuoteRequest">
      <soap:operation soapAction="http://tempuri.org/IDataService/NewQuoteRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DataService">
    <wsdl:port name="BasicHttpBinding_IDataService" binding="tns:BasicHttpBinding_IDataService">
      <soap:address location="http://localhost:50717/Push/Service/DataService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>